.infoHeader {
	text-align: center;
	margin: 8px;
}
.product {
}
.productName {
	color: #333333;
	font: bold 30px Arial;
	margin-bottom: 4px;
}

/*review row*/
.reviewHeader {
	min-width: 300px;
}
.reviewBar {
	width: 80px;
	font: bold 26px Arial;
	color: #333;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 4px;
	margin-top: 4px;
}
.reviewNumber {
	width: 100px;
	font: normal 12px Arial;
	color: #cfcfcf;
	display: inline-block;
	text-align: left;
}

/*price row*/
.price {
	min-width: 300px;
}
.currentPrice {
	width: 90px;
	font: bold 20px Arial;
	color: #c2484e;
	display: inline-block;
	margin-bottom: 4px;
	margin-top: 4px;
}
.retailPrice {
	width: 70px;
	font: normal 12px Arial;
	color: #cfcfcf;
	display: inline-block;
}
.discount {
	width: 100px;
	font: bold 14px Arial;
	color: #cfcfcf;
	display: inline-block;
}

.exclusive {
	margin-left: 10px;
	margin-bottom: 4px;
	margin-top: 12px;
	font: normal 14px Arial;
}

/*colour row*/
#colourLabel {
	font: bold 12px Arial;
	margin-left: 4px;
	margin-top: 26px;
}
#colour {
	font: normal 12px Arial;
	display: inline-block;
}

/*buttons */
button:focus {outline: 0;}
.button {
	display: inline-block;
	cursor: pointer;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px; 
}

.button#roundButton1 {
	background-color: green;
}

.button#roundButton2 {
	background-color: yellow;
}

.addToCart { 
	display: inline-block;
	font: normal 16px Arial;
}

.addToCart#numberColour {
	border: solid;
	border-width: 1px;
	border-radius: 20px;
	background-color: white;
	color: black;
	width:50px;
	height: 50px;
	margin: 20px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}
.addToCart#addToCartButton {
	border: none;
	border-radius: 25px 25px 25px 25px;
	background-color: black;
	color: white;
	width: 300px;
	height: 50px;
	margin: 20px;
}

/*modal popup*/
.popup {
	text-align: center;
	display:none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.1);
}

.popup-content {
	display: inline-block;
	background-color: white;
	margin: 20px;
	margin-top: 5%;
	margin-bottom: 20%;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
	min-width: 300px;
	min-height: 200px;
}

.popup-text {
	font: normal 16px Arial;
}

.incdec {
	width: 250px;
	text-align: right;
}

.plusminus {
	width: 50px;
	height: 50px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 50%;
	font: normal 40px Arial;
	background-color: black;
	color: white;
}

#colourName {
	display: inline;
	margin: 5px;
	font: normal 20px Arial;
}

#duplicateColour {
	display: inline-block;
	font: normal 40px Arial;
}
.choice {
	width: 80px;
	height:40px;
	margin:10px;
	border: 2px solid #888;
	border-radius: 5px;
}

.popup-choice {
	line-height: 2px;
	text-align:center;
	vertical-align: middle;
}

#cancel {
	background-color: #ff9191;
	border-color: #ba4141;
}

#agree {
	background-color: #9dff82;
	border-color: #67cc4b;
}

