.product {
	//background-color: #666;
}
.productName {
	color: #333333;
	font: bold 30px Arial;
}

//review row
.reviewHeader {
	min-width: 300px;
}
.reviewBar {
	width: 100px;
	font: bold 20px Arial;
	color: #333;
	display: inline-block;
}
.reviewNumber {
	width: 1000px;
	font: normal 12px Arial;
	color: #cfcfcf;
	display: inline-block;
}

//price row
.price {
	min-width: 300px;
}
.currentPrice {
	width: 90px;
	font: bold 20px Arial;
	color: #c2484e;
	display: inline-block;
}
.retailPrice {
	width: 70px;
	font: normal 12px Arial;
	color: #cfcfcf;
	display: inline-block;
}
.discount {
	width: 100px;
	font: bold 14px Arial;
	color: #cfcfcf;
	display: inline-block;
}
