.infoHeader {
	display: inline-block;
	text-align: left;
}
.product {
	width: auto;
}
.productName {
	color: #333333;
	font: bold 30px Arial;
	margin-bottom: 4px;
}

/*review row*/
.reviewHeader {
	width: auto;
}
.reviewBar {
	min-width: 80px;
	font: bold 26px Arial;
	color: #333;
	display: inline-block;
	margin: 6px;
}
.reviewNumber {
	font: normal 12px Arial;
	color: #cfcfcf;
	display: inline-block;
}

/*price row*/
.price {
	width: auto;
}
.currentPrice {
	min-width: 90px;
	font: bold 20px Arial;
	color: #c2484e;
	display: inline-block;
	margin-bottom: 4px;
	margin-top: 4px;
}
.retailPrice {
	min-width: 70px;
	font: normal 12px Arial;
	color: #cfcfcf;
	display: inline-block;
}
.discount {
	min-width: 100px;
	font: bold 14px Arial;
	color: #cfcfcf;
	display: inline-block;
}

.exclusive {
	margin-left: 10px;
	margin-bottom: 4px;
	margin-top: 12px;
	font: normal 14px Arial;
}

/*colour row*/
#colourLabel {
	font: bold 12px Arial;
	margin: 6px;
	margin-top: 20px;
	display: inline-block;
}
#colour {
	font: normal 12px Arial;
	display: inline-block;
}

/*buttons */
button:focus {
	outline: 0;
}

.button {
	cursor: pointer;
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px; 
	margin-bottom: 2px;
}

.button#roundButton1 {
	background-color: green;
}

.button#roundButton2 {
	background-color: yellow;
}

.button#roundButton3 {
	background-color: blue;
}

.button#roundButton4 {
	background-color: red;
}

.button#roundButton5 {
	background-color: orange;
}

.button#roundButton6 {
	background-color: purple;
}

.button#roundButton7 {
	background-color: BlanchedAlmond;
}

.button#roundButton8 {
	background-color: SandyBrown;
}

.button#roundButton9 {
	background-color: Maroon;
}

.button#roundButton10 {
	background-color: OrangeRed;
}

.button#roundButton11 {
	background-color: Coral;
}

.button#roundButton12 {
	background-color: IndianRed;
}

.button#roundButton13 {
	background-color: Crimson;
}

.button#roundButton14 {
	background-color: DarkSlateGrey;
}

.button#roundButton15 {
	background-color: MediumOrchid;
}

.button#roundButton16 {
	background-color: Khaki;
}

.addToCart {
	font: normal 16px Arial;
	margin-bottom: 20px;
}

.addToCart#numberColour {
	display: inline-block;
	border: solid;
	border-width: 1px;
	border-radius: 25px;
	background-color: white;
	color: black;
	width:55px;
	height: 40px;
	margin: 15px;
	margin-top: 8px;
	margin-left: 3px;
	line-height: 44px;
	text-align: center;
}
.addToCart#addToCartButton {
	display: inline-block;
	cursor: pointer;
	border: none;
	border-radius: 25px;
	background-color: black;
	color: white;
	min-width: 300px;
	min-height: 50px;
}

.line {
	border-style:solid;
	border-color: grey;
	margin: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 70%;
}

/*modal popup*/
.popup {
	text-align: center;
	display:none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.1);
	padding-top: 150px;
}

.popup-content {
	display: inline-block;
	text-align:right;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	width: auto;
	height: auto;
}

.popup-text {
	font: normal 14px Arial;
	text-align: center;
	margin: 10px;
}

.incdec {
	display: inline-block;
	margin-right: 10px;
}

.plusminus {
	display: inline-block;
	cursor: pointer;
	width: 60px;
	height: 60px;
	margin: 20px;
	border: 1px solid black;
	border-radius: 50%;
	font: normal 60px Arial;
	background-color: black;
	color: white;
	line-height: 5px;
}

#colourName {
	display: inline-block;
	margin: 5px;
	font: bold 14px Arial;
}

#duplicateColour {
	display: inline-block;
	font: bold 40px Arial;

}
.choice {
	text-align:right;
	cursor: pointer;
	width: 70px;
	height:35px;
	margin:5px;
	border: 2px solid #888;
	border-radius: 5px;
}

.popup-choice {
	line-height: 2px;
	text-align:center;
	vertical-align: middle;
}

#cancel {
	background-color: #ff9191;
	border-color: #ba4141;
}

#agree {
	background-color: #9dff82;
	border-color: #67cc4b;
}

#selectedColours {
	margin: 10px;
	width: 70%;
}

